/* ==============================
			VARIABLES 
=================================*/
:root {
	--main-colour: rgb(38, 232, 242);
	--standard-shadow: 5px 5px 5px #aaa;
	--transparant-shadow: 10px 10px 15px rgba(92, 92, 92, 1);
}


/* ==============================
			CSS RESET 
=================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: black;
	outline: 0;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==============================
				FONTS 
=================================*/

@font-face {
	font-family: amarurgt;
	src: url('fonts/amarurgt.ttf');
}

@font-face {
	font-family: caviar dreams;
	src: url('fonts/CaviarDreams.ttf');
}
	
@font-face {
	font-family: caviar dreams bold;
	src: url('fonts/CaviarDreams_Bold.ttf');
}

@font-face {
	font-family: caviar dreams italic;
	src: url('fonts/CaviarDreams_Italic.ttf');
}

@font-face {
	font-family: caviar dreams bold italic;
	src: url('fonts/CaviarDreams_BoldItalic.ttf');	
}	

main {
	margin: 1em;
	margin-bottom: 3em;
}

p,
a,
li,
label,
time,
legend,
footer,
button,
input {
	font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a {
	font-family: amarurgt, sans-serif;
}

h1,
h1 a {
	font-size: 45px;
}

h2 {
	font-size: 30px;
}

p,
a,
li,
input,
label,
textarea {
	font-family: sans-serif;
}

button {
	background-color: var(--main-colour);
	color: black;
	font-size: 16px;
	padding: 1em 2em;
	font-weight: 700;
	border: none;
	box-shadow: 0 #aaa;
	transition: all .3s ease;
}

button:focus {
	box-shadow: var(--standard-shadow);
}

main {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows:50% 50%;
}

header nav ul {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 1em;
}

header nav ul li {
	padding: 2em 0;
}

body > header > h1 {
	transition: all .3s ease;
}

body > header > h1 a:focus {
	color: white;
}

header > nav ul li a {
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	border-bottom: solid black .1em;
	color: black;
	transition: all .3s ease;
}

header {
	background-color: var(--main-colour);
	padding: .5em 1em;
	z-index: 1;
}

header nav > ul > li:first-of-type {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.2em 1.8em 0 0;
	background-color: var(--main-colour);
	z-index: 3;
}

header nav > ul > li:first-of-type a {
	border-bottom: 0;
	font-size: 2em;
}

header nav > ul > li:first-of-type a:focus {
	border-bottom: none;
}

header a[href="#menu"] svg path {
	transition: all .3s ease;
}

header a[href="#menu"]:focus svg path {
	fill: white;
}

header nav h2 {
	text-align: center;
}

header nav {
	display: none;
	width: 100%;
}

header nav ul ul li {
	padding: .5em 0;
	border-bottom: none;
}

header nav ul ul li a {
	border-bottom: none;
	font-size: 18px;
}

header nav ul li a:focus {
	color: white;
	border-bottom: solid white .1em;
}

header nav ul ul li a:focus {
	color: white;
	border-bottom: none;
}

img {
	max-width: 100%;
}

body {
	background-color: #fff;
}

fieldset label svg {
	width: 10vw;
}

body > div:nth-of-type(1) {
	display: none;
}

body > input {
	position: absolute;
	left: 1em;
	z-index: 5;
	border: solid black 1px;
}

#menu:target {
	display: block;
	height: 100vh;
}

#login:target {
	display: block;
	position: fixed;
	z-index: 5;;
}

input[type="email"],
input[type="password"] {
	display: block;
	font-size: 16px;
	border: solid var(--main-colour) .1em;
	border-radius: 1em;
	padding: .2em;
	text-align: center;
	margin: 0 auto;
	width: 80%;
	transition: all .3s ease;
	font-weight: 300;
	font-family: caviar dreams, sans-serif;
}

form div {
	display: block;
	text-align: center;
	margin: 1em 0;
}

form div * {
	text-align: center;
}

form button {
	display: block;
	margin: 0 auto;
}

header a[href="#menu"] {
	position: absolute;
	top: .5em;
	right: .5em;
	font-size: 2em;
	transition: all .3s ease;
}

header a[href="#menu"]:focus {
	color: white;
}

input[type="email"]:focus,
input[type="password"]:focus {
	border: solid black .1em;
	box-shadow: var(--standard-shadow)
}

label[for="field-email"],
label[for="field-password"] {
	opacity: 0;
}

body > div:nth-of-type(1) {
	position: absolute;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	background: rgba(0,0,0,.8);
}

body > div:nth-of-type(1) > form {
	background-color: white;
	position: relative;
	width: 35vw;
	min-width: 20em; 
	margin: 0 auto;
	padding: 3em;
	margin-top: 12em;
}

body > div:nth-of-type(1) > form > a[href="#login-away"] {
	position: absolute;
	right: 1em;
	top: 1em;
	font-size: 25px;
	font-weight: 700;
}

body > div:nth-of-type(1) > form > a[href="#login-away"]:focus {
	color: var(--main-colour);
	transition: all .3s ease;
}

form input[type="checkbox"] {
	transition: all .3s ease;
	margin-right: .5em;
}

form input[type="checkbox"]:focus {
	box-shadow: var(--standard-shadow);
}

form a[rel="forgot"] {
	text-align: center;
	display: block;
	margin-top: 1em;
	transition: all .3s ease;
}

form a[rel="forgot"]:focus {
	color: var(--main-colour);
}

a[for="login"] {
	cursor: pointer;
}

body > article > fieldset {
	margin: 1em 0 .5em 0;
}

body > article > fieldset legend {
	margin: 2em 0 .5em 0;
	font-size: 20px;
	font-family: amarurgt;
}

body > article > fieldset svg {
	width: 3em;
}

body > article > fieldset label svg {
	filter: opacity(50%);
	transition: filter .3s ease;
	transition: transform .3s ease;
	transform: scale(0.7);
}

body > article > fieldset label:focus svg,
body > article > fieldset label:hover svg {
	/* filter: opacity(100%); */
	transform: scale(0.5);
}

body > article > fieldset input[type="radio"] {
	position: relative;
	bottom: 1em;
	left: 2em;
	opacity: 0;
}

body > article > fieldset input[type="radio"]:checked + label svg {
	transform: scale(1);
	filter: opacity(100%);
}

/* =========================
			CHAT
========================= */

ol:nth-of-type(1) li {
	background-color: var(--main-colour);
	padding: 1em;
	margin: 1em 0;
	border-radius: 1em;
	width: 70%;
}

ol:nth-of-type(1) li:nth-of-type(2) {
	background-color: rgba(0, 0, 0, 0.3);
	margin-left: 20%;
	right: 0;
}

ol:nth-of-type(1) li footer p,
ol:nth-of-type(1) li footer time {
	font-weight: 300;
	color: rgba(0, 0, 0, .8);
}

ol:nth-of-type(1) textarea {
	border: solid var(--main-colour) 2px;
	border-radius: 1em;
	padding: .3em;
	resize: none;
	width: calc(100% - 9em);
	transition: all .3s ease;
}

ol:nth-of-type(1) textarea:focus {
	border: solid black 2px;
	box-shadow: var(--standard-shadow)
}

ol:nth-of-type(1) form label {
	display: none;
}

ol:nth-of-type(1) form textarea {
	display: inline-block;
}

ol:nth-of-type(1) form button {
	display: inline-block;
	margin-bottom: 1em;
	vertical-align: top;
	margin-left: 1em;
}

ol:nth-of-type(1) p {
	margin: 1em 0;
	font-weight: 700;
}

ol:nth-of-type(1) {
	margin-top: .9em;
}

section {
	margin: 1em;
}

/* =============================
			ARTICLES
============================= */

article p {
	line-height: 1.4em;
}

article figure a {
	display: block;
	margin-bottom: 1em;
	font-weight: 700;
	transition: all .3s ease;
}

article figure a:focus {
	color: var(--main-colour);
}

article a {
	color: black;
	transition: all .3s ease;
	font-weight: 500;
}

article a:focus {
	color: var(--main-colour);
}

article h2 a,
article h3 a {
	color: black;
	transition: all .3s ease;
}

article h2 a:focus {
	color: var(--main-colour);
}

article img {
	width: 100%;
}

main article:nth-of-type(2) {
	margin-top: .6em;
}

article h3 {
	font-size: 20px;
}

section {
	display: grid;

}

article {
	margin-bottom: 4em;
}

/* ==========================
		 ARTICLE PAGE
===========================*/

main[rel="article"] {
	display: block;
}

main[rel="article"] p {
	margin-top: 1em;
}

body  div:nth-of-type(2) {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

body > div:nth-of-type(2) {
	margin: 0 auto;
	background-color: white;
	width: 75%;
	padding: 1em;
	margin-top: 5em;
	box-shadow: var(--transparant-shadow);
	height: 18em;
}

body  div:nth-of-type(2) div h2 {
	margin-bottom: 1em;
}

body  div:nth-of-type(2) div p {
	margin-bottom: 1em;
}

body  div:nth-of-type(2) div a {
	border-bottom: solid white 1px;;
	transition: all .3s ease;
}

body  div:nth-of-type(2) div a:focus {
	color: var(--main-colour);
	border-bottom: solid var(--main-colour) 1px;
}

body[rel="moonlanding"] main {
	filter: blur(3px);
	z-index: 0;
	display: block;
	margin-top: 2em;
}

#yes:target {
	display: none;
}

body > article {
	margin: 1em;
}

body > article p {
	margin-top: 1em;
}

/* ==========================
		PROFILE PAGE
===========================*/

body > span {
	width: 75%;
	margin: 5em auto;
	margin-top: 3em;
	display: block;
	background-color: white;
	padding: 2em;
	background-color: #f7f7f7;
}

body > span > div > article h2 a {
	font-size: 20px;
	line-height: .7em;
}

body > span > div > article h1 {
	font-size: 25px;
}

body > span > div > article h2 {
	line-height: .7em;
	margin-bottom: .3em;
}

body > span > div > article,
body > span > div > div {
	width: 100%;
	margin-bottom: 0;
}

body > span {
	position: relative;
}

body > span:before,
body > span:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 25px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: #777;
	-webkit-box-shadow: 0 35px 20px #777;
	-moz-box-shadow: 0 35px 20px #777;
	box-shadow: 0 35px 20px #777;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	transform: rotate(-8deg);
}

body > span h2 {
	display: block;
	margin-bottom: 1em;
}

body > span:after {
	-webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

body > span b {
	font-weight: 700;
}

body > span > div p {
	margin: .3em 0;
	line-height: 1.4em;
}

body > span > div p:nth-last-of-type(3n + 1) {
	margin-bottom: 2em;
}

@media screen and (min-width: 48em) {
	header {
		display: flex;
		position: fixed;
		top: 0;
		width: 100vw;
		-webkit-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.3);
		moz-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.3);
	}

	main {
		width: 75vw;
		margin: 0 auto;
		grid-template-columns: 65% calc(35% - 1em);
		grid-column-gap: 1em;
		display: grid;
		margin-top: 10em;
	}

	header nav {
		height: 4em;
		display: block;
	}

	header nav ul {
		flex-direction: row;
		margin: 0;
		justify-content: space-around;
		margin-top: 1em;
	}

	header nav ul li {
		padding: 0;
	}

	header nav ul li a {
		border-bottom: none;
	}

	header nav ul li a:focus {
		border-bottom: none;
	}

	header nav ul ul {
		display: none;
	}

	#menu:target {
		display: block;
	}

	#menu-closed:target {
		display: none !important;
	}

	a[href="#menu"] {
		display: none !important;
	}

	section {
		grid-template-columns: calc(25% - .75em) calc(25% - .75em) calc(25% - .75em) calc(25% - .75em);
		grid-column-gap: 1em;
		max-width: 75vw;
		margin: 0 auto;
	}

	main[rel="article"] {
		width: 60%;
	}

	header nav {
		position: relative;
	}

	header nav ul {
		position: absolute;
		right: 2em;
		width: 60%;
	}

	header nav h2 {
		text-align: right;
		margin-right: 2em;
	}

	body div:nth-of-type(2) {
		margin: 0 auto;
		background-color: white;
		width: 50%;
		padding: 3em;
		margin-top: 12em;
		box-shadow: var(--transparant-shadow);
		height: 13em;
	}

	body > article {
		margin: 0 auto;
		margin-top: 12em;
		width: 60%;
	}

	header nav > ul > li:first-of-type {
		display: none;
	}

	#menu:target {
		height: auto;
	}

	body[rel="moonlanding"] main {
		width: 60%;
		margin-top: 12em;
	}

	a[href="/catagories"]:hover ul {
		display: block;
	}

	body > span {
		width: 60%;
		margin-top: 9em;
	}

	body > span > div {
		display: flex;
		justify-content: space-between;
	}

	body > span > div > article,
	body > span > div > div {
		width: 45%;
	}
}