/* ==============================
			VARIABLES 
=================================*/
:root {
	--main-colour: rgb(38, 232, 242);
	--standard-shadow: box-shadow: 5px 5px 5px #aaa;
}


/* ==============================
			CSS RESET 
=================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: black;
	outline: 0;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==============================
				FONTS 
=================================*/

@font-face {
	font-family: amarurgt;
	src: url('fonts/amarurgt.ttf');
}

@font-face {
	font-family: caviar dreams;
	src: url('fonts/CaviarDreams.ttf');
}
	
@font-face {
	font-family: caviar dreams bold;
	src: url('fonts/CaviarDreams_Bold.ttf');
}

@font-face {
	font-family: caviar dreams italic;
	src: url('fonts/CaviarDreams_Italic.ttf');
}

@font-face {
	font-family: caviar dreams bold italic;
	src: url('fonts/CaviarDreams_BoldItalic.ttf');	
}	

main {
	margin: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
label,
time,
legend,
footer,
button,
input {
	font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: amarurgt;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 30px;
}

p,
a,
li,
input,
label,
textarea {
	font-family: sans-serif;
}

button {
	background-color: var(--main-colour);
	color: black;
	font-size: 16px;
	padding: 1em 2em;
	font-weight: 700;
	border: none;
	box-shadow: 0 #aaa;
	transition: all .3s ease;
}

button:focus {
	box-shadow: var(--standard-shadow);
}

main {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows:50% 50%;
}

header nav ul {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 1em;
}

header nav ul li {
	padding: 2em 0;
}

header > nav ul li a {
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	border-bottom: solid black .1em;
	color: black;
	transition: all .3s ease;
}

header {
	background-color: var(--main-colour);
	padding: .5em 1em;
}


header nav h2 {
	text-align: center;
}

header nav {
	display: none;
	width: 100%;
}

header nav ul ul li {
	padding: .5em 0;
	border-bottom: none;
}

header nav ul ul li a {
	border-bottom: none;
	font-size: 18px;
}

header nav ul li a:focus {
	color: white;
	border-bottom: solid white .1em;
}

header nav ul ul li a:focus {
	color: white;
	border-bottom: none;
}

img {
	max-width: 100%;
}

body {
	background-color: #fff;
}

fieldset label svg {
	width: 10vw;
}

body > div {
	display: none;
}

body > input {
	position: absolute;
	left: 1em;
	z-index: 5;
	border: solid black 1px;
}

#menu:target {
	display: block;
	height: 100vh;
}

#login:target {
	display: block;
	position: fixed;
}

input[type="email"],
input[type="password"] {
	display: block;
	font-size: 16px;
	border: solid var(--main-colour) .1em;
	border-radius: 1em;
	padding: .2em;
	text-align: center;
	margin: 0 auto;
	width: 80%;
	transition: all .3s ease;
	font-weight: 300;
	font-family: caviar dreams, sans-serif;
}

form div {
	display: block;
	text-align: center;
	margin: 1em 0;
}

form div * {
	text-align: center;
}

form button {
	display: block;
	margin: 0 auto;
}

header a[href="#menu"] {
	position: absolute;
	top: .5em;
	right: .5em;
	font-size: 2em;
	transition: all .3s ease;
}

header a[href="#menu"]:focus {
	color: white;
}

input[type="email"]:focus,
input[type="password"]:focus {
	border: solid black .1em;
	box-shadow: var(--standard-shadow)
}

label[for="field-email"],
label[for="field-password"] {
	opacity: 0;
}

body > div {
	position: absolute;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	background: rgba(0,0,0,.8);
}

body > div > form {
	background-color: white;
	position: relative;
	width: 35vw;
	min-width: 20em; 
	margin: 0 auto;
	padding: 3em;
	margin-top: 5em;
}

body > div > form > a[href="#login-away"] {
	position: absolute;
	right: 1em;
	top: 1em;
	font-size: 25px;
	font-weight: 700;
}

body > div > form > a[href="#login-away"]:focus {
	color: var(--main-colour);
	transition: all .3s ease;
}

form input[type="checkbox"] {
	transition: all .3s ease;
	margin-right: .5em;
}

form input[type="checkbox"]:focus {
	box-shadow: var(--standard-shadow)
}

form a[rel="forgot"] {
	text-align: center;
	display: block;
	margin-top: 1em;
	transition: all .3s ease;
}

form a[rel="forgot"]:focus {
	color: var(--main-colour);
}

a[for="login"] {
	cursor: pointer;
}

/* =========================
			CHAT
========================= */

main > ol:nth-of-type(1) li {
	background-color: var(--main-colour);
	padding: 1em;
	margin: 1em 0;
	border-radius: 1em;
	width: 70%;
}

main > ol:nth-of-type(1) li:nth-of-type(2) {
	background-color: rgba(0, 0, 0, 0.3);
	margin-left: 20%;
	right: 0;
}

main > ol:nth-of-type(1) li footer p,
main > ol:nth-of-type(1) li footer time {
	font-weight: 300;
	color: rgba(0, 0, 0, .8);
}

main > ol:nth-of-type(1) textarea {
	border: solid var(--main-colour) 2px;
	border-radius: 1em;
	padding: .3em;
	resize: none;
	width: calc(100% - 9em);
	transition: all .3s ease;
}

main > ol:nth-of-type(1) textarea:focus {
	border: solid black 2px;
	box-shadow: var(--standard-shadow)
}

main > ol:nth-of-type(1) form label {
	display: none;
}

main > ol:nth-of-type(1) form textarea {
	display: inline-block;
}

main > ol:nth-of-type(1) form button {
	display: inline-block;
	margin-bottom: 1em;
	vertical-align: top;
	margin-left: 1em;
}

main > ol:nth-of-type(1) p {
	margin: 1em 0;
	font-weight: 700;
}

main > ol:nth-of-type(1) {
	margin-top: .9em;
}

/* =============================
	THIS PICTURE HAS A TITLE
============================= */

article:nth-of-type(1) p {
	line-height: 1.4em;
	margin: 1em 0;
}

article:nth-of-type(1) a {
	color: black;
	transition: all .3s ease;
	font-weight: 500;
}

article:nth-of-type(1) a:focus {
	color: var(--main-colour);
	font-weight: 700;
}

@media screen and (min-width: 48em) {
	header {
		display: flex;
		position: fixed;
		top: 0;
		width: 100vw;
		-webkit-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.3);
		moz-box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.3);
	}

	main {
		margin-top: 8em;
		grid-template-columns: 69% 29%;
		grid-column-gap: 2%; 
	}

	header nav {
		height: 4em;
		display: block;
	}

	header nav ul {
		flex-direction: row;
		margin: 0;
		justify-content: space-around;
		margin-top: 1em;
	}

	header nav ul li {
		padding: 0;
	}

	header nav ul li a {
		border-bottom: none;
	}

	header nav ul li a:focus {
		border-bottom: none;
	}

	header nav ul ul {
		display: none;
	}

	#menu:target {
		display: block;
	}

	a[href="#menu"] {
		display: none;
	}
}