/* ==============================
			VARIABLES 
=================================*/
:root {
	--main-colour: rgb(242, 38, 38);
	--standard-shadow: 0.31em 0.31em 0.31em #aaa;
	--transparant-shadow: 0.63em 0.63em 0.63em rgba(92, 92, 92, 1);
	--font-color: rgb(41, 41, 41);
}


/* ==============================
			CSS RESET 
=================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: black;
	outline: 0;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================================
				FONTS 
================================ */

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Regular.ttf')
}

@font-face {
	font-family: 'Open Sans Light';
	src: url('fonts/OpenSans-Light.ttf')
}

@font-face {
	font-family: 'Quantum';
	src: url('fonts/Quantum.otf')
}

/* ================================
			BASIC MARKUP 
================================ */

body {
	background-color: #fff;
	font-family: 'Open Sans';
}

article h2 {
	font-family: 'Quantum';
	text-align: center;
	font-size: 80px;
	margin-top: 8rem;
}

main {
	margin: 1em;
	margin-bottom: 5em;
}

figcaption p {
	line-height: 1.8rem;
	font-family: 'Open Sans Light';
	margin-bottom: 1rem;
}

figcaption footer *,
figcaption footer {
	font-family: 'Open Sans Light';
	margin-top: 1rem;
}

h1,
h2,
h1 a,
h2 a {
	font-family: 'Quantum' , sans-serif;
}

h1,
h1 a {
	font-size: 1.6em;
	font-family: 'Quantum';
	transition: color .3s ease;
}

h2 {
	font-size: 1.875em;
}

main {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows:50% 50%;
}

/* ==========================
			HEADER
========================== */

header nav ul {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 1em;
}

header nav ul li {
	padding: 2em 0;
	font-family: 'Open Sans Light';
}

header > nav > ul > li:nth-of-type(2) > a{
	color: white;
}

header nav ul li:nth-of-type(2) a:focus {
	color: red;
}

body > header > h1 {
	transition: color .3s ease;
}

body > header > h1 a:focus,
body > header > h1 a:hover {
	color: var(--main-colour);
}

header > nav ul li a {
	text-decoration: none;
	font-weight: 700;
	font-size: 1.250em;
	color: var(--font-color);
	transition: color .3s ease;
}

header {
	background-color: white;
	padding: .5em 1em;
	z-index: 1;
}

header nav > ul > li:first-of-type {
	position: absolute;
	top: 0;
	right: 0;
	padding: .8em 1.8em 0 0;
	background-color: white;
	z-index: 3;
}

header nav > ul > li:first-of-type a {
	border-bottom: 0;
	font-size: 2em;
}

header nav > ul > li:first-of-type a:focus,
header nav > ul > li:first-of-type a:hover {
	border-bottom: none;
}

header a[href="#menu"] svg path {
	transition: all .3s ease;
}

header a[href="#menu"]:focus svg path,
header a[href="#menu"]:hover svg path {
	fill: var(--main-colour);
}

header nav h2 {
	text-align: center;
}

header nav {
	display: none;
	width: 100%;
}

header nav ul ul li {
	padding: .5em 0;
	border-bottom: none;
}

header nav ul ul li a {
	border-bottom: none;
	font-size: 1.125em;
}

header nav ul li a:focus,
header nav ul li a:hover {
	color: var(--main-colour);
}

header nav > ul li:nth-of-type(2) > a:hover {
	color: white;
	cursor: default;
}

header a[href="#menu"] {
	position: absolute;
	top: .5em;
	right: .5em;
	font-size: 2em;
}

header a[href="#menu"]:focus,
header a[href="#menu"]:hover {
	color: var(--main-colour);
}

header nav ul li a:focus-within + ul li a,
header nav ul li a:hover + ul li a {
	animation-name: listText;
	animation-duration: 1s;
	display: block;
	color: var(--font-color);
	transition: all .3s ease;
}

header nav ul li ul li a:hover,
header nav ul li ul li a:focus {
	color: var(--main-colour);
}

/* ===========================
			BUTTONS
=========================== */

div ol:nth-of-type(1) form button {
	display: inline-block;
	margin-bottom: 1em;
	vertical-align: top;
	margin-left: 1em;
}

body > div:nth-of-type(2) form button {
	display: inline;
	padding-top: 1.65em;
	padding-bottom: 1.7em;
	vertical-align: top;
}

form[action="#spinner"] {
	display: flex;
	justify-content: space-between;
}

form[action="#spinner"] textarea {
	flex-grow: 1;
	margin-right: .5rem;
}

form[action="#spinner"] button {
	background-color: var(--main-colour);
	color: black;
	font-size: 1em;
	padding: 1em 2em;
	font-weight: 700;
	border: none;
	box-shadow: 0 #aaa;
	transition: box-shadow .3s ease;
}

form[action="#"] button {
	margin: 0 auto;
	display: block;
}

form[action="#"] button {
	background: none;
  	border: 0;
  	box-sizing: border-box;
  	padding: 1em 2em;
  
	/* Here starts the login button animation */
	box-shadow: inset 0 0 0 .125em white;
	color: black;
	font-size: inherit;
	font-weight: 700;
	position: relative;
	vertical-align: middle;
}

form[action="#"] button::before,
form[action="#"] button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

form[action="#"] button {
    transition: color 0.4s ease;
}

form[action="#"] button::before,
form[action="#"] button::after {
	/* invisible border so it doesn't shift around elements */
    border: .2em solid transparent;
    width: 0;
    height: 0;
}

form[action="#"] button::before {
    top: 0;
    left: 0;
}

form[action="#"] button::after {
    bottom: 0;
    right: 0;
}
  
form[action="#"] button:focus,
form[action="#"] button:hover {
    color: var(--main-colour);
}

form[action="#"] button:focus::before,
form[action="#"] button:focus::after,
form[action="#"] button:hover::before,
form[action="#"] button:hover::after {
    width: 100%;
	height: 100%;
	/* focus styles */
  }


form[action="#"] button:focus::before,
form[action="#"] button:hover::before {
    border-top-color: var(--main-colour); /* makes the borders visible */
    border-right-color: var(--main-colour);
    transition:
      width 0.3s ease,
      height 0.3s ease 0.3s;
  }

form[action="#"] button:focus::after,
form[action="#"] button:hover::after {
    border-bottom-color: var(--main-colour); /* Make borders visible */
    border-left-color: var(--main-colour);
    transition:
      border-color 0s ease-out 0.5s,
      width 0.3s ease 0.5s,
      height 0.3s ease 0.75s;
}

button:focus,
button:hover {
	box-shadow: var(--standard-shadow);
}

/* ===========================
			A'S
=========================== */

article figure a {
	display: block;
	margin-bottom: 1em;
	transition: color .3s ease;
}

h1 a {
	color: var(--font-color);
}

article a {
	color: var(--font-color);
	transition: color .3s ease;
	font-weight: 500;
}

body aside div a {
	border-bottom: solid white 0.063em;;
	transition: all .3s ease;
}

body > span > div > article h2 a {
	font-size: 1.25em;
	line-height: .7em;
}

header nav ul li a:focus,
header nav ul li a:hover {
	border-bottom: none;
}

article a:focus,
article a:hover {
	color: var(--main-colour);
}

body aside div a:focus,
body aside div a:hover {
	color: var(--main-colour);
	border-bottom: solid var(--main-colour) 0.063em;
}


/* ===========================
			INPUT
=========================== */

body > input {
	position: absolute;
	left: 1em;
	z-index: 5;
	border: solid black 0.063em;
}

input[type="email"],
input[type="password"] {
	display: block;
	font-size: 1em;
	border: solid var(--main-colour) .2em;
	padding: .2em;
	text-align: center;
	margin: 0 auto;
	width: 80%;
	transition: 
	border .3s ease,
	box-shadow .3s ease,
	color .3s ease;
	font-weight: 300;
	font-family: caviar dreams, sans-serif;
}

input[type="email"]:valid,
input[type="password"]:valid {
	border: solid rgb(0, 255, 0) .2em;
}

input[type="email"]:focus:invalid,
input[type="password"]:focus:invalid,
input[type="email"]:hover:invalid,
input[type="password"]:hoverfocus:invalid {
	border: solid red .2em;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="email"]:hover,
input[type="password"]:hover {
	border: solid black .2em;
	box-shadow: var(--standard-shadow)
}

form input[type="checkbox"] {
	transition: all .3s ease;
	margin-right: .5em;
}

form input[type="checkbox"]:focus,
form input[type="checkbox"]:hover {
	box-shadow: var(--standard-shadow);
}

body > article > fieldset input[type="radio"] {
	position: relative;
	bottom: 1em;
	left: 2em;
	opacity: 0;
}

/* ==========================
			TARGETS 
========================== */


#menu:target {
	display: block;
	height: 100vh;
}

#login:target {
	position: fixed;
	z-index: 5;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	background: rgba(0,0,0,.8);
}

#login:target form {
	top: 0;
	visibility: visible;
}

#spinner:target {
	display: block;
	position: fixed;
	top: 18rem;
	right: 0;
	left: 0;
	margin: 0 auto;
	background-color: rgba(255,255,255,0);
}

#spinner:target > div {
	background-color: #ffffff00;
	display: block;
	width: 75px;
	height: 75px;
	margin: 0 auto;
	animation: rotate 1s infinite ease-in-out;
}

#spinner > div > div {
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
}

@keyframes rotate {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

@keyframes rotateBottom {
	0% {
		transform: rotate(180deg)
	}
	100% {
		transform: rotate(540deg)
	}
}

/* ===========================
		MARKUP OF PAGES
=========================== */


img {
	max-width: 100%;
}

fieldset label svg {
	width: 10vw;
}

body > div:nth-of-type(1) {
	z-index: -1;
	position: fixed;
	background: rgba(0,0,0,0);
	transition:
		background .5s ease;
}

form div {
	display: block;
	text-align: center;
	margin: 1em 0;
}

form div * {
	text-align: center;
}

label[for="field-email"],
label[for="field-password"] {
	opacity: 0;
}

body > div:nth-of-type(1) > form {
	background-color: white;
	top: -50em;
	transition: 
		top .5s ease .5s;
	position: relative;
	width: 35vw;
	min-width: 20em; 
	margin: 0 auto;
	padding: 3em;
	margin-top: 12em;
	visibility: hidden;
}

body > div:nth-of-type(1) > form > a:nth-of-type(1) {
	position: absolute;
	right: 1em;
	top: 1em;
	font-size: 1.563em;
	font-weight: 700;
}

body > div:nth-of-type(1) > form > a:nth-of-type(1):focus,
body > div:nth-of-type(1) > form > a:nth-of-type(1):hover {
	color: var(--main-colour);
	transition: color .3s ease;
}

form a[rel="forgot"] {
	text-align: center;
	display: block;
	margin-top: 1em;
	transition: all .3s ease;
}

form a[rel="forgot"]:focus,
form a[rel="forgot"]:hover {
	color: var(--main-colour);
}

body > article > fieldset {
	margin: 1em 0 .5em 0;
	display: inline;
	transition: 
		box-shadow .3s ease .3s;
}

body > article > fieldset legend {
	padding: 0 1em;
	font-family: amarurgt;
}

body > article > fieldset svg {
	width: 3em;
}

body > article > fieldset label svg {
	filter: opacity(50%);
	transition: all .3s ease;
	transition: transform .3s ease;
	transform: scale(0.7);
}

body > article > fieldset label:focus svg,
body > article > fieldset label:hover svg {
	transform: scale(0.5);
}

body > article > fieldset input[type="radio"]:checked + label svg {
	transform: scale(1);
	filter: opacity(100%);
}

/* =========================
			CHAT
========================= */

div ol:nth-of-type(1) li {
	background-color: rgb(238, 238, 238);
	padding: 1em;
	margin: 1em 0;
	border-radius: 1em;
	width: 70%;
}

div ol:nth-of-type(1) li:nth-of-type(2) {
	background-color: rgba(0, 0, 0, 0.3);
	margin-left: 20%;
	right: 0;
}

div ol:nth-of-type(1) li footer p,
div ol:nth-of-type(1) li footer time {
	font-weight: 300;
	color: rgba(0, 0, 0, .8);
}

div ol:nth-of-type(1) textarea {
	border: solid var(--main-colour) 0.125em;
	border-radius: 1em;
	padding: .3em;
	resize: none;
	width: calc(100% - 9em);
	transition: border .3s ease;
}

div ol:nth-of-type(1) textarea:focus,
div ol:nth-of-type(1) textarea:hover {
	border: solid black 0.125em;
	box-shadow: var(--standard-shadow)
}

div ol:nth-of-type(1) form textarea {
	display: inline-block;
}

div ol:nth-of-type(1) p {
	margin: 1em 0;
	font-weight: 700;
}

div ol:nth-of-type(1) {
	margin-top: .9em;
}

section {
	margin: 1em;
	display: grid;
}

/* =============================
			ARTICLES
============================= */

article h2 a,
article h3 a,
article h2 a span {
	color: var(--font-color);
	border-bottom: .1em solid transparent;
	transition: 
	color .3s ease .3s,
	border-bottom .3s ease;
	margin-bottom: .1em;
	display: block;
	position: relative;
	padding-bottom: .1em;
}

article h2 a::after,
article h3 a::after {
	position: absolute;
	bottom: 0;
	box-sizing: inherit;
	content: '';
	width: 100%;
	height: .1em;
	left: 0;
	background-color: black;
	width: 0;
	transition: 
		width .3s ease,
		background-color .3s ease .3s;
}

article h2 a span {
	display: inline;
}

section article img {
	width: 100%;
}

article h3 a:focus::after,
article h2 a:focus::after,
article h3 a:hover::after,
article h2 a:hover::after {
	width: 100%;
	background-color: var(--main-colour);
}

article h2 a:focus span,
article h2 a:hover span {
	color: var(--main-colour);
}

article img {
	width: 75%;
	margin: 0 auto;
	display: block;
}

article h3 {
	font-size: 1.25em;
	letter-spacing: 5px;
	text-align: center;
	line-height: 1.9rem;
}

article {
	margin-bottom: 4em;
}

/* ==========================
		 ARTICLE PAGE
===========================*/

body aside {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

body > aside {
	margin: 0 auto;
	background-color: white;
	width: 75%;
	padding: 1em;
	margin-top: 5em;
	box-shadow: var(--transparant-shadow);
	height: 18em;
}

body aside div h2,
body aside div p {
	margin-bottom: 1em;
}

.moonlanding + body main {
	filter: blur(0.188em);
	z-index: 0;
	display: block;
	margin-top: 2em;
	width: 60%;
	margin-top: 12em;
}

body > article {
	margin: 1em;
}

body > article p {
	margin-top: 1em;
}

/* ==========================
		PROFILE PAGE
===========================*/

body > span {
	width: 75%;
	margin: 3em auto;
	margin-top: 3em;
	display: block;
	background-color: white;
	padding: 2em;
	background-color: #f7f7f7;
	position: relative;
}

body > span > div > article h1 {
	font-size: 1.563em;
}

body > span > div > article h2 {
	line-height: .7em;
	margin-bottom: .3em;
}

body > span > div > article,
body > span > div > div {
	width: 100%;
	margin-bottom: 0;
}

body > span:before,
body > span:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 1.563em;
	left: 0.625em;
	width: 50%;
	top: 80%;
	max-width: 18.750em;
	background: #777;
	-webkit-box-shadow: 0 2.188em 1.25em #777;
	-moz-box-shadow: 0 2.188em 1.25em #777;
	box-shadow: 0 2.188em 1.25em #777;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	transform: rotate(-8deg);
}

body > span h2 {
	display: block;
	margin-bottom: 1em;
}

body > span:after {
	-webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 1.25em;
  left: auto;
}

body > span b {
	font-weight: 700;
}

body > span > div p {
	margin: .3em 0;
	line-height: 1.4em;
}

body > span > div p:nth-last-of-type(3n + 1) {
	margin-bottom: 2em;
}

body > nav {
	margin: 0 1em;
}

nav progress {
	-webkit-appearance: none;
	width: 100%;
	height: 1.25em;
	margin-bottom: 1em;
	margin-top: .4em;
}

body nav ol {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

nav progress[value]::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 1em;
	box-shadow: 0 .125em 0.313em rgba(0, 0, 0, 0.25) inset;
}

nav progress::-webkit-progress-value { 
	background: var(--main-colour); 
	border-radius: 1em;
}

/* =============================
			CHAT PAGE
==============================*/

body > div:nth-of-type(2) {
	margin: 0 1em;
	margin-top: 4em;
	max-width: 42.5em;
}

body > div:nth-of-type(2) form textarea {
	border: solid var(--main-colour) .2em;
	resize: none;
	padding: 1em;
	transition: border .3s ease;
	width: 60%;
}

body > div:nth-of-type(2) form textarea:focus,
body > div:nth-of-type(2) form textarea:hover {
	border: solid black .2em;
}

/* =============================
			OTHER
==============================*/

body > div:nth-of-type(2) form div,
body > div:nth-of-type(2) form label,
div ol:nth-of-type(1) form label,
#yes:target {
	display: none;
}

section article h3 {
	letter-spacing: 0;
}

section article {
	padding: 1rem;
	background-color: rgb(247, 247, 247);
	box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}


@media screen and (min-width: 62.750rem) {
	body main article:nth-of-type(2) {
		margin-top: 1.1em;
	}
	/* To align the elements perfectly */
}

@media screen and (min-width: 50rem) {
	section {
		grid-template-columns: calc(50% - 1em) calc(50% - 1em);
		grid-column-gap: 2em;
	}

	main {
		grid-template-columns: 100%;
		margin-top: 8rem;
	}

	main article:nth-of-type(2) {
		margin-top: 3em;
	}

/* ==========================
				HEADER
	========================== */
	header {
		display: flex;
		position: fixed;
		top: 0;
		width: 100vw;
	}

	header nav {
		height: 4em;
		display: block;
	}

	header nav > ul {
		flex-direction: row;
		margin: 0;
		justify-content: space-around;
		margin-top: 1em;
		position: absolute;
		right: 2em;
		width: 60%;
		min-width: 30em;
	}

	header nav ul {
		flex-direction: row;
		margin: 0;
		justify-content: space-between;
		margin-top: 1.3em;
		position: absolute;
		right: 0;
		margin-right: 3.7em;
		width: 60%;
	}

	header nav ul li {
		padding: 0;
	}

	header nav ul ul,
	header nav > ul > li:first-of-type,
	#menu-closed:target,
	a[href="#menu"] {
		display: none;
	}

	header nav {
		position: relative;
	}

	header nav ul li ul {
		transition: all .3s ease;
	}

	header nav ul li:focus-within ul,
	header nav ul li ul:focus-within,
	header nav ul li:hover ul,
	header nav ul li ul:hover {
		padding: 2em;
		height: 6em;
		width: auto;
		top: 2em;
		background-color: rgb(255, 255, 255);
		margin: 0 auto;
		display: block;
		box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
		right: 34.5%;
		animation-name: headerAnimation;
		animation-duration: .8s;
	}

	header nav h2 {
		text-align: right;
		margin-right: 2em;
	}

	body > nav {
		margin: 0 auto;
		width: calc(60% + 4em);
	}

	section {
		grid-template-columns: calc(33.333% - 1.25em) calc(33.3333% - 1.25em) calc(33.3333% - 1.25em);
		grid-column-gap: 2em;
		max-width: 75vw;
		margin: 0 auto;
	}

	body aside {
		margin: 0 auto;
		background-color: white;
		width: 50%;
		padding: 3em;
		margin-top: 12em;
		box-shadow: var(--transparant-shadow);
		height: 13em;
	}

	body > article {
		margin: 0 auto;
		margin-top: 12em;
		width: 60%;
	}

	/* ======================
			TARGETS
	====================== */

	#menu:target {
		display: block;
	}

	#menu:target {
		height: auto;
	}

	body > article > fieldset legend {
		padding: 0 1em;
		font-size: 1.250em;
	}

	/* =========================
				OTHER
	========================= */

	@keyframes headerAnimation {
		0% { height: 0; padding: 0; }
		50% { height: 6em; padding: 2em; }
		100% { height: 6em; padding: 2em; }
	}

	@keyframes listText {
		0% { color: rgba(0,0,0,0); margin-top: .5em; }
		33% { color: rgba(0,0,0,0); margin-top: .5em; }
		50% { color: rgba(0,0,0,0); }
		100% { color: rgba(0,0,0,1); margin-top: 0; }
	}

	body > span {
		width: 60%;
		margin-top: 9em;
	}

	body > span > div {
		display: flex;
		justify-content: space-between;
	}

	body > span > div > article,
	body > span > div > div {
		width: 45%;
	}

	article fieldset {
		background-color: white;
		padding: 2em;
	}

	body > article > fieldset:focus-within,
	body > article > fieldset:hover {
		box-shadow: var(--transparant-shadow);
	}

	body > article > fieldset legend span {
		margin-top: 2em;
		display: block;
	}
	
	body > div:nth-of-type(2) {
		width: 60%;
		margin: 0 auto;
		margin-top: 10em;
	}

	body > div:nth-last-of-type(2) form textarea {
		width: 68%;
	}

	header nav ul li ul li a:hover, 
	header nav ul li ul li a:focus {
		color: rgb(255, 0, 0);
	}

}

@media screen and (min-width: 80rem) {

	/* ==========================
			BASIC MARKUP
	========================== */

	main {
		width: 50vw;
		margin: 0 auto;
		grid-template-columns: 100%;
		display: grid;
		margin-top: 4rem;
		margin-bottom: 7rem;
	}
}